<h2>Forma de usar FOR con Angular</h2>
<hr>
<ul>
  <li *ngFor="let producto of productos">
    {{ producto }}
  </li>
</ul>

<h2>Forma 2 de usar FOR en Angular</h2>
<hr>
<ul>
  @for (producto of productos; track producto) {
  <li>{{ $index + 1 }} - {{ producto }}</li>
  }
</ul>


<h2>Forma 1 de usar FOR en Angular Lista de Objetos</h2>
<hr>
 <ul>
      <li *ngFor="let producto of productos2;">
        {{ producto.id }} - {{ producto.nombre }} → ${{ producto.precio }}
      </li>
    </ul>

<h2>Forma 1 de usar FOR en Angular Lista de Objetos</h2>
<hr>

      <ul>
      @for (producto of productos2; track producto.id) {
        <li>
          {{ $index + 1 }} - {{ producto.nombre }} → ${{ producto.precio }}
        </li>
      }
    </ul>  